body{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #c3b0c4;
}

.headings{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6e3482;
}

.list-form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.tasks{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.tasks h2{
    margin: 20px;
    color: #6e3482;
}

.tasks ul{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.tasks ul li button{
    position: relative;
    margin-left: 10px;
}

