@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: "Fredoka", sans-serif;
    background-color: #bed4a0;

}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar{
    background-color: #fff200;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 25px;
    /* font-weight: 600; */
}

.navbar ul a{
    color: #ffffff;
    text-decoration: none;
}

.navbar ul a:hover{
    color: #45493e;
}

.contanier{
    width: 100%;
    object-fit: cover;
    display: flex;
    position: relative;
}

.img-wrapper{
    background-color: #45493e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 86vh;
    position: absolute;
    opacity: 0.90;
}

.cover-name{
    background-color: #68ff03;
    width: 300px;
    height: 300px;
    transform: rotate(45deg);
    margin-left: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
}

.img-wrapper h1{
    color: #ffffff;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;
    transform: rotate(-45deg);
    position: relative;
}


.content-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 70%;
    height: 86vh;
    float: right;
    /* margin-right: 10px; */
    position: relative;
}

iframe{
    width: 100%;
    height: 100%;
    /* margin: 10px; */
    z-index: 10;
}


button{
    margin: 10px;
    position: absolute;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    border: 2px solid #fff200;
    background-color: #68ff03;
    border-radius: 10px;
    z-index: 10;
}

button:hover{
    background-color: #fff200;
    border: 2px solid #68ff03; 
}