@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: "Fredoka", sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar{
    background-color: #947311;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 25px;
    /* font-weight: 600; */
}

.navbar ul a{
    color: pink;
    text-decoration: none;
}

.navbar ul a:hover{
    color: #f5ea19;
}

.contanier{
    width: 100%;
    object-fit: cover;
    display: flex;
    position: relative;
}

.img-wrapper{
    background-color: #ffe100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100vh;
    position: absolute;
    z-index: 10;
    opacity: 0.90;
}

.cover-name{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    opacity: 1;
    z-index: 10;
}

.img-wrapper h1{
    color: #ffffff;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.img-wrapper h2{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.img-wrapper p{
    font-size: 16px;
    padding-bottom: 10px;
}

.img-wrapper button{
    color: #ffffff;
    background: none;
    font-weight: 600;
    border: 2px solid white;
    padding: 15px;
    margin-top: 8%;
}

.image-container{
    width: 100%;
    position: relative;
}

.image-container img{
    width: 100%;
    height: 100vh;
    position: relative;
}
